// Importing fonts : use @import

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:wght@400;600&display=swap');
h1, h2, .home-link {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    text-transform: uppercase;
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 50px;
    letter-spacing: 0.1em;
}

p, a, strong{
    font-family: 'EB Garamond', serif;
}

strong {
    font-family: 'EB Garamond', serif;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: #000000;
}

.home-link {
    font-size: 21px;
    letter-spacing: 4px;

}