
            .main-gallery{
                display: flex;
                flex-wrap: wrap;
                
                div {
                    height:80vh;
                    flex-grow:1;
                }
                div:nth-of-type(1) {
                    flex-basis:35%;
                    img{
                        animation-delay: 0.2s;
                    }
                }
                div:nth-of-type(2) {
                    flex-basis:65%;
                    img{
                        animation-delay: 0.4s;
                    }
                }
                div:nth-of-type(3) {
                    flex-basis:60%;
                    img{
                        animation-delay: 0.6s;
                    }
                }
                div:nth-of-type(4) {
                    flex-basis:40%;
                    img{
                        animation-delay: 0.8s;
                    }
                }
                div:nth-of-type(5) {
                    flex-basis:100%;
                    img{
                        animation-delay: 1s;
                    }
                }
                div:nth-of-type(6) {
                    flex-basis:55%;
                    img{
                        animation-delay: 1.2s;
                    }
                }
                div:nth-of-type(7) {
                    flex-basis:45%;
                    img{
                        animation-delay: 1.4s;
                    }
                }
                div:nth-of-type(8) {
                    flex-basis: 100%;
                    img{
                        animation-delay: 1.6s;
                    }
                }
                div:nth-of-type(9) {
                    flex-basis: 100%;
                    img{
                        animation-delay: 1.8s;
                    }
                }
            }
            img {
                max-height: 100%;
                min-width: 100%;
                max-width:100%;
                min-height:100%;
                object-fit: cover;
                animation-name: appear;
                transform-origin: top left;
                animation-duration: 0.4s;
                // animation-fill-mode: forwards;
                // animation-timing-function: linear;
            }
            @keyframes appear {
                0%{
                    opacity:0;
                    transform:scale(0)
                }
                100%{
                    opacity:1;
                    transform:scale(1)
                }
            }